/*
Theme Name: Print
*/
body{
	color: #222;
}
img{
	max-width: 100%;
}
a{
	color: inherit;
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin-top: 1rem;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	/* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
	float: left;
	position: absolute;
	/* top: 1.5em; */
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {

}
.main-navigation li:hover > a {

}
.main-navigation ul ul :hover > a {

}
.main-navigation ul ul a:hover {
	
}
.main-navigation ul li:hover > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul {
	left: 100%;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-page-ancestor > a {
	text-decoration: underline;
}
.menu-toggle {
	display: none;
}
.top-bar-section li.current-page-ancestor:not(.has-form) > a:not(.button),
.top-bar-section li.current-menu-ancestor:not(.has-form) > a:not(.button),
.top-bar-section li.current-menu-parent:not(.has-form) > a:not(.button),
.top-bar-section li.current-page-parent:not(.has-form) > a:not(.button),
.top-bar-section li.current_page_parent:not(.has-form) > a:not(.button){
	background-color: rgba(255,255,255,0.1);
}
.top-bar-section li.active:not(.has-form) a:not(.button){
	background-color: rgba(255,255,255,0.2);
}
.top-bar-section li:not(.has-form) a:not(.button){
	/* background-color: #fff; */
}
.sub-menu.dropdown{
	border: 2px solid #333;
	border-top: none;
}
.tab-bar .right-small .right-off-canvas-toggle{
	display: block;
	text-align: center;
}
.tab-bar a{
	color: #fff;
}
.off-canvas-wrap.move-left{
	overflow: hidden;
}
.off-canvas-wrap.move-left .right-off-canvas-menu{
	overflow-y: scroll;
}
.sub-menu.menu{
	margin-left: 0;
}
ul.off-canvas-list{
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
ul.off-canvas-list li a{
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
ul.off-canvas-list li a, ul.off-canvas-list li label{
	padding: 0.5rem 20px 0.6rem;
}
ul.off-canvas-list li:first-child label{
	line-height: 2.2;
	border-top: 1px solid rgba(255,255,255,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.6);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#1a000000',GradientType=0 );
}
.off-canvas-list .menu-item-has-children .carets{
	text-align: center;
	padding: 0.5rem 10px 0.6rem;
}
.off-canvas-list .menu-item-has-children > .carets span{
	display: none;
	position: relative;
}
.off-canvas-list .menu-item-has-children > .carets .fi-caret-bottom{
	position: relative;
	top: 1px;
}
.off-canvas-list .menu-item-has-children.in > .carets .fi-caret-top, .off-canvas-list .menu-item-has-children.out > .carets .fi-caret-bottom{
	display: none;
}
.off-canvas-list .menu-item-has-children.in > .carets .fi-caret-bottom, .off-canvas-list .menu-item-has-children.out > .carets .fi-caret-top{
	display: inline;
}
.off-canvas-list .menu-item-has-children > ul{
	clear: both;
	overflow: hidden;
	transition: max-height 0.5s;
	background: rgba(0,0,0,0.1);
}
.off-canvas-list ul .menu-item-has-children.out > ul{
	border-bottom: 1px solid rgba(255,255,255,0.08);
}
.off-canvas-list > li > a{
	border-top: 1px solid rgba(255,255,255,0.05);
}
.off-canvas-list .row .row{
	margin: 0;
}
.off-canvas-list ul li a{
	font-size: 90%;
}
.off-canvas-list ul li a:first-child{
	text-indent: 10px;
}
.off-canvas-list ul ul li a:first-child{
	text-indent: 20px;
}
.off-canvas-list ul ul ul li a:first-child{
	text-indent: 30px;
}
.off-canvas-list ul ul ul ul li a:first-child{
	text-indent: 40px;
}
.off-canvas.utility-menu .right-off-canvas-toggle span{
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.off-canvas.utility-menu{
	margin-left: 0;
	margin-top: 4rem;
	padding-top: 0.5rem;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.off-canvas.utility-menu li{
	list-style-type: none;
}
.off-canvas.utility-menu li a{
	color: #000;
	padding: 0.5rem 20px 0.55rem;
	display: block;
}
.off-canvas.utility-menu .right-off-canvas-toggle{
	text-align: center;
}
ul.off-canvas-list .current_page_item > a,
ul.off-canvas-list .current-menu-item > a,
ul.off-canvas-list .current-page-ancestor > a{
	background-color: rgba(0,0,0,0.2);
	color: #fff;
}


@media screen and (max-width: 599px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		padding: 0;
		width: 100%;
		color: #fff;
		line-height: 4;
	}
	.top-bar-section ul{
		margin-bottom: 15px;
	}
	.main-navigation ul {
		display: none;
	}
	.top-bar .toggle-topbar span{
		font-size: 1.4em;
	}
	.top-bar-container{
		/* padding-bottom: 5px; */
	}
	.top-bar-section .dropdown li.title h5{
		background:rgba(255,255,255,0.1)
	}
	.top-bar-container .tab-bar{
		padding-left: 0.4rem;		
	}
}
@media screen and (min-width: 600px){
	.main-navigation .nav-menu{
		display: table;
		/* width: 100%; */
	}
	.main-navigation .nav-menu > li{
		display: table-cell;
	}
	.main-navigation .nav-menu li a{
		padding: 0.5em 1em;
		line-height: 1.2;
		background-color: #eee;
	}	
	.top-bar-container .tab-bar{
		width: calc(90% + 1rem);
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.alignleft {
	display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
.widget {
	margin: 0 0 1.5em;
}
.widget select {
	max-width: 100%;
}
.widget_search .search-submit {
/* 	display: none; */
}
.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	/* display: none; */
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
embed,
iframe,
object {
	max-width: 100%;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.contain-to-grid .top-bar .title-area{
	margin-left: -0.7rem;
}
#colophon .copyright{
	font-size: 0.8em;
	color: #666;
	margin-bottom: 0;
}
#colophon{
	border-top:1px solid #ddd;
	margin-top: 2em;
	padding: 2em 0 2em;
}
html{
	overflow-y: scroll;
}
body{
	position: inherit;
	font-size: 80%;
}
p, li, ol, ul, dl{
/* 	font-size: 1em; */
}
h1, h2, h3, h4, h5, h6{
/* 	font-size: 2em; */
}
.panel-grid .panel{
	padding: 0;
	border: 0;
	background: transparent;
}
.site-branding h1.site-title{
	font-size: 1.5em;
	margin: 0.5em 0;
	display: none;
}
.site-branding .site-title{
	
}
.site-branding a{
	display: block;
/* 	text-indent: -9000px; */
}
.site-branding .site-title img{
	display: block;
}
h1.entry-title{
	/* margin-top: 0; */
}
.panel p:last-child{
	margin-bottom: 0;
}
.eme_events_list{
	margin-left: 0;
}
.eme_events_list li, .entry-content .hentry{
	list-style-type: none;
	display: block;
	margin-bottom: 1em;
	font-size: 120%;
	overflow: hidden;
}
.eme_events_list li img, .entry-content .hentry .thumbnail{
	display:block;
	width: 180px;
	max-width: 30%;
	margin-right: 5%;
	float: left;	
}
.eme_events_list li .text, .entry-content .hentry .text{
	display:block;
	overflow: hidden;
}
.entry-content .widget-title{
	margin-bottom: 1em;
}
.entry-content .alignright, .entry-content .alignleft{
	max-width: 30%;
}
.eme-location-map{
	max-width: 100%;
}
h1.widget-title{
	font-size: 1em;
}
.search-form input[type="search"] {
	width: 70%;
	margin-right: 5%;
	margin-bottom: 0px;
	float: left;
	box-sizing: border-box;
	height: 40px;
}
.search-form input[type="submit"] {
	width: 25%;
	border: medium none;
	box-sizing: border-box;
	padding: 0px 12px;
	font-size: 16px;
	height: 40px;
	color: #444;
	background-color: #eee;
	border-radius: 4px;
}

@media screen and (min-width: 700px){
	body{
		font-size: 100%;
	}
	.site-branding h1.site-title{
		display: block;
	}
	.width, .contain-to-grid .top-bar{
		width: 90%;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}
	.oldie .right-off-canvas-menu{
		display: none;
	}
}
@media screen and (min-width: 900px){
	body{
		font-size: 120%;
	}
}
@media screen and (min-width: 1200px){
	.width{
/* 		max-width: 1200px; */
		font-size: 120%;
	}
}